h1{
    text-align: center;
    color: #fff;
    font-weight: 500
}
.diamond-grid{
    width: 70%;
    margin: 30px auto 0;
}
.item{
    width: 100%;
    height: 100%;
    background: #003d87;
    transition: 0.5s;
}
.item:hover{
    opacity: 1;
}
.item img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1.2);
}
@media (max-width: 767px){
    .diamond-grid {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 450px) {
    .diamond-grid {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 330px) {
    .diamond-grid {
        width: 100%;
        margin: 0 auto;
    }
    .diamonds {
        width: 150px;
        height: 150px;
    }
}